@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  height: 80%;
margin: 0%;
background-color: rgba(226, 97, 5, 0.787)


}



#GPT #app {
  width: 95vw;
  height: 95vh;
  margin-top: 2%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
 

  padding: 2%;
}

#GPT #chat_container {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  border-radius: 10px;
  
}

#emailform{
  margin-top: 2%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

#emailsub{
  position: relative;
  margin-left: 3px;
  top: 1px;
  width: 3%;
  height: 61px;
  
}
.material-icons{
  font-size:15px
}
.hidden{
  display: none;
}


#GPT .ai {
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.024);
  width: 56%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #000000;
  font-size: 32px;
  font-weight: bold;
}




#GPT form {
  border-radius: 10px;
  width: 90%;
  margin: 1% auto;
  padding: 15px;
  background: #ffffff14;
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

#GPT textarea {
  width: 100%;
  font-size: 28px;
  padding: 15px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: rgba(215, 215, 215, 0.586);
}

#GPT button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: rgb(226, 97, 5);
  border-radius:5px;
  color: rgba(255, 255, 255, 0.992);
}

input{
  width: 40%;
  height: 60px;
}

#submit-button{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 600px ) {
  #GPT form{
    margin-bottom: 15%;
  }
  }


  #popup{
    
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: #00000067;
  }

  .popupbox{
    display: flex;
    position: relative;
    width: 60%;
    height: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    background-color: #ffffff;
  }

  .character{
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  .character input{
    width: 100%;
  }

  #varSub{
    position: absolute;
    width: 200px;
    background-color: #c8c7c74c;
    bottom: 0%;
    left: 50%;
    text-align: center;
    display: grid;
    place-content: center;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    cursor: pointer;

  }

  #nfc h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #testingbutton{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: grid;
    place-content: center;
    cursor: pointer;
    margin: .1%;
    border: 1px solid rgba(0, 0, 0, 0.325);
  }

  #opnieuw{
    margin-top: 1%;
    background-color: rgba(128, 128, 128, 0.139);
    width: 300px;
    border-radius: 10px;
    padding: 1%;
    color: #727272e7;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }


  .wrapperContent{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  #imageGen{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    pointer-events: none;
    border-radius: 10px;
   margin-left: 10%;
  }

  #bewaren{
    text-align: center;
    margin-top: 3%;
  }

  .btns{
    display: flex;
    gap: 10px;
    

  }


  #ja{
    display: grid;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #7a7a7a0e;
    border: .5px solid rgba(0, 98, 255, 0.287);
    border-radius: 3px;
    cursor: pointer;
  }

  #nee{
    display: grid;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #7a7a7a1e;
    border-radius: 3px;
    cursor: pointer;
    border: .5px solid rgba(0, 0, 0, 0.06);
  }